table{
    width:100%;
    height: 30%;
    font-family: Chandas;
    background-color: black;
    background-color: aqua;
}
td,th{
    border-color: black;
    padding: 10px;
    text-decoration-color: black;
    tab-size: 40%;
    border: black;
}
td,th{
font-size: small;
    background-color: burlywood;
}
h1{
    text-align: center;
    background-color: deepskyblue;
    font-family: "Droid Sans";
    font-size: 300%;
}
body {
    background-image: url("../Images/hill5.jpeg");
    background-repeat: no repeat;
    background-size: cover;
}


